@import "_mixins";

/* Resets */
ul, li, ul li { margin: 0; padding: 0; }

#tab-container-content {
	&>li {
		padding: 10px;
		margin-bottom: 10px;
		background-color: #fefefe;
		border: 1px solid #bbb;
		@include border-radius(4px);
	}
	&>li>div {
		ul {
			float: left;
			li {
				height: 20px;
				span {
					color: #888;
					font-style: italic;
					font-size: 12px;
				}
			}
		}
		div {
			float: right;
		}
	}
	img {
		width: 75px;
		height: 50px;
	}
	.button-primary { float: left; }
	.button-secondary { float: right; }
}

/* Settings list */
.wptabs-ul-settings {
	clear: both;
	margin: 10px;

	li {
		clear: both;
		height: 30px;
		line-height: 30px;
		list-style: none;
	}
	label {
		width: 120px;
		display: block;
		float: left;
		text-align: left;
	}
	input {
		float: left;
	}
	input[type="text"] {
		width: 200px;
		margin-top: 2px;
	}
	input[type="checkbox"] {
		margin-top: 8px;
	}
}


.tab-updated {
	display: none;
	margin-left: 20px;
	color: #006600;
}


.edit-tab-info {
	list-style: none;
	margin: 10px 0;

	li {
		clear: both;
		list-style: none;

		& > * {
			float: left;
		}
		& > label {
			width: 40px;
			line-height: 22px;
			text-align: left;
		}
		& > textarea {
			width: 600px;
			height: 400px;
		}
	}
}

.tabcontainer {
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 10px 0;
	position: relative;
	width: 100%;
	.tab {
		cursor: pointer;
		margin: 0 2px 0 0;
		padding: 3px 10px 5px;
		display: block;
		float: left;
		border-bottom: none;
		z-index: 2;
		position: relative;
		top: 2px;
		background: #f8f8f8;
		border: 1px solid #eee;
		&.active {
			z-index: 4;
			position: relative;
			border-bottom: none;
			background: none repeat scroll 0 0 #fff;
			color: #555555;
		}
	}
	.tab-content {
		display: none;
		clear: both;
		padding: 15px;
		overflow: auto;
		position: relative;
		background: #fff;
		border: 1px solid #eee;
		&.active {
			display: block;
			z-index: 3;
			position: relative;
			overflow: auto;
		}
	}
}


#wptabs-embedder-list {
	border: 1px solid #000;
	background-color: #eee;
    height: 500px;
    left: 50%;
    margin-left: -150px;
    position: fixed;
    top: 50px;
    width: 300px;
    z-index: 1000;
    padding: 20px 15px;
    overflow: scroll;

    .header {
    	h2 {
    		float: left;
    		margin: 0;
    		padding: 0;
    	}
    	a {
    		float: right;
    	}
    }
    ul {
    	margin-top: 20px;
    	li {
    		padding: 5px 10px;
    		&:nth-child(2n+1){
	    		background-color: #ddd;
	    	}
    	}
    }

    a {
    	cursor: pointer;
    }
}