.tabcontainer {
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 10px 0;
	position: relative;
	width: 100%;
	.tab {
		cursor: pointer;
		margin: 0 2px 0 0;
		padding: 3px 10px 5px;
		display: block;
		float: left;
		border-bottom: none;
		z-index: 2;
		position: relative;
		top: 2px;
		background: #f8f8f8;
		border: 1px solid #eee;
		&.active {
			z-index: 4;
			position: relative;
			border-bottom: none;
			background: none repeat scroll 0 0 #fff;
			color: #555555;
		}
	}
	.tab-content {
		display: none;
		clear: both;
		padding: 15px;
		overflow: auto;
		position: relative;
		background: #fff;
		border: 1px solid #eee;
		&.active {
			display: block;
			z-index: 3;
			position: relative;
			overflow: auto;
		}
	}
}